.card {
  margin-bottom: 10px;
}

.categories {
  height: 5px;
  width: 100%;
  display: flex;
}

.category {
  border-width: 1px;
  border-color: #999;
}
.category:first-child {
  border-left-style: none ! important;
}
